<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EU RH</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">

    <div class="nav-left">
        <div class="logo">
            <span class="logo-box">EU</span>
            <span class="logo-text">EU RH</span>
        </div>
    </div>

    <div class="nav-center">
        <a href="{{ url_for('home') }}">Início</a>
        <a href="{{ url_for('home') }}#sobre-nos">Sobre Nós</a>
        <a href="{{ url_for('home') }}#empresas">Para Empresas</a>
    </div>

    <div class="nav-right">

        {% if mostrar_botao_voltar %}
            <a href="{{ url_for('dashboard') }}" class="btn-navbar-voltar">
                ← Dashboard
            </a>
        {% else %}
            <a href="{{ url_for('pagina_login') }}" class="btn-entrar">
                Entrar
            </a>
        {% endif %}

    </div>

</div>

{% block content %}{% endblock %}

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>