{% extends 'base.html' %}

{% block content %}

    

<div class="pagina-candidatos">

    

    <div class="topo-candidatos">

    <h1>Candidatos da empresa</h1>
    <p>Visualize todos os candidatos e filtre por status</p>

    

</div>

    <div class="filtros-status">
        <a href="{{ url_for('candidatos_empresa') }}" class="{% if not status_atual %}ativo{% endif %}">Todos</a>
        <a href="{{ url_for('candidatos_empresa', status='Recebido') }}" class="{% if status_atual == 'Recebido' %}ativo{% endif %}">Recebidos</a>
        <a href="{{ url_for('candidatos_empresa', status='Em análise') }}" class="{% if status_atual == 'Em análise' %}ativo{% endif %}">Em análise</a>
        <a href="{{ url_for('candidatos_empresa', status='Entrevista') }}" class="{% if status_atual == 'Entrevista' %}ativo{% endif %}">Entrevista</a>
        <a href="{{ url_for('candidatos_empresa', status='Aprovado') }}" class="{% if status_atual == 'Aprovado' %}ativo{% endif %}">Aprovados</a>
        <a href="{{ url_for('candidatos_empresa', status='Reprovado') }}" class="{% if status_atual == 'Reprovado' %}ativo{% endif %}">Reprovados</a>
    </div>

    {% if candidatos %}
        {% for candidato in candidatos %}
        <div class="card-candidato">
            <div class="info-candidato">
                <h3>{{ candidato.nome }}</h3>
                <p><strong>Vaga:</strong> {{ candidato.titulo_vaga }}</p>
                <p><strong>Email:</strong> {{ candidato.email }}</p>
                <p><strong>Status:</strong> {{ candidato.status }}</p>
            </div>

            <div class="acao-candidato">
                <a href="{{ url_for('ver_vaga_publica', id=candidato.vaga_id) }}" class="btn-vaga">
    Ver vaga
</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <p>Nenhum candidato encontrado.</p>
    {% endif %}

</div>

{% endblock %}