<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes da Vaga</title>
</head>
<body>

    <h1>{{ vaga[1] }}</h1>

    <p><strong>Descrição:</strong> {{ vaga[2] }}</p>
    <p><strong>Setor:</strong> {{ vaga[3] }}</p>
    <p><strong>Salário:</strong> R$ {{ vaga[4] }}</p>
    <p><strong>Tipo:</strong> {{ vaga[5] }}</p>
    <p><strong>Localização:</strong> {{ vaga[6] }}</p>
    <p><strong>Tipo de contrato:</strong> {{ vaga['tipo_contrato'] }}</p>
    <p><strong>Modelo de trabalho:</strong> {{ vaga['modelo'] }}</p>
    <p><strong>Turno:</strong> {{ vaga['turno'] }}</p>

    <br>

<a href="{{ url_for('dashboard') }}" class="btn-sec">Voltar ao dashboard</a></body>
</html>